[Unit]
Description=OS Discord bot
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/dg/OS-Discord-Bot/
Environment="PYTHONPATH=$PYTHONPATH:/home/dg/OS-Discord-Bot/"
Environment="PATH=/home/dg/OS-Discord-Bot/:$PATH"
ExecStart=/usr/bin/python3 -m osdb
Restart=always


[Install]
WantedBy=default.target
